<div>
  <div class="legend">
    <span style="color:green">In Person</span> <span style="color:red">Online</span> <span style="color:#aaa">TBD</span>
  </div>
  <div *ngFor="let event of events" class="well hoverwell thumbnail">
    <div [ngStyle]="getTitleStyle(event.format)" >
      <!-- inline ngStyle usage 
      <div [ngStyle]="{'color': event?.format === 'InPerson' ? 'green' :  
         event?.format === 'Online' ? 'red' : '#aaa'
                      }" >
      -->
      <!-- style binding
        <div [style.color]="event?.format === 'InPerson' ? 'green' :  
         event?.format === 'Online' ? 'red' : '#aaa'"> 
      -->
      <h2>{{event.name}}</h2>
    </div>
    <div>Date: {{event.date}}</div>
    <div>Time: {{event.time}}</div>
    <div *ngIf="event.location">
      <span>Location: {{event?.location?.address}}</span>
      <span class="pad-left">{{event?.location?.city}}, {{event?.location?.country}}</span>
    </div>
    <div *ngIf="event.onlineUrl">
      Online URL: {{event?.onlineUrl}}
    </div>
  </div>
</div>