<div>
  <form [formGroup]="eventForm" (ngSubmit)="saveEvent(eventForm.value)" novalidate>
    <div class="form-group">
      <label for="name">Event Name: </label>
      <input formControlName="name" id="name" type="text"/>
    </div>
    <div class="form-group">
      <label for="event-name">Date: </label>
      <input formControlName="date" id="date" type="text"/>
    </div>
    <div class="form-group">
      <label for="event-name">Time: </label>
      <input formControlName="time" id="time" type="text"/>
    </div>
    <div formGroupName="location" >
      <div class="form-group">
        <label for="event-name">Address: </label>
        <input formControlName="address" id="address" type="text"/>
      </div>
      <div class="form-group">
        <label for="event-name">City: </label>
        <input formControlName="city" id="city" type="text"/>
      </div>
      <div class="form-group">
        <label for="event-name">Country: </label>
        <input formControlName="country" id="country" type="text"/>
      </div>
    </div>

    <button type="submit" class="btn btn-primary">Save</button>
    <button type="button" class="btn btn-default" (click)="cancel()">Cancel</button>
  </form>
</div>