<div>
  <div *ngFor="let event of events" class="well hoverwell thumbnail">
    <h2>{{event.name}}</h2> 
    <button class="btn btn-warning" (click)="event.hidden=true">Collapse</button>
    <button class="btn btn-warning" (click)="event.hidden=false">Expand</button>
    <div>
      <div>Date: {{event.date}}</div>
      <div>Time: {{event.time}}</div>
      <div>
        <span>Location: {{event?.location?.address}}</span>
        <span class="pad-left">{{event?.location?.city}}, {{event?.location?.country}}</span>
      </div>
    </div>
  </div>

</div>