<div class="container">
  <form  #eventForm="ngForm" (ngSubmit)="saveEvent(eventForm.value)" novalidate >
    <div class="form-group" [class.has-error]="eventForm.controls.name?.invalid && 
    (eventForm.controls.name?.touched || mouseoverEvent)">
      <label class="control-label" for="event-name">Event Name: </label>      
      <input (ngModel)="name" name="name" id="event-name" type="text" required/>
      <em *ngIf="eventForm.controls.name?.invalid && 
      (eventForm.controls.name?.touched || mouseoverEvent)">Required</em>
    </div>
    <div class="form-group" [class.has-error]="eventForm.controls.date?.invalid && 
    (eventForm.controls.date?.touched || mouseoverEvent)">
      <label class="control-label" for="date">Date: </label>      
      <input (ngModel)="date" name="date" id="date" type="text" required/>
      <em *ngIf="eventForm.controls.date?.invalid && 
      (eventForm.controls.date?.touched || mouseoverEvent)">Required</em>
    </div>
    <div class="form-group" [class.has-error]="eventForm.controls.time?.invalid && 
    (eventForm.controls.time?.touched || mouseoverEvent)">
      <label class="control-label" for="time">Time: </label>
      <input (ngModel)="time" name="time"  id="time" type="text" required/>
      <em *ngIf="eventForm.controls.time?.invalid && 
      (eventForm.controls.time?.touched || mouseoverEvent)">Required</em>
    </div>
    <div ngModelGroup="location" >
      <div class="form-group" [class.has-error]="eventForm.controls.location?.controls.address?.invalid && 
      (eventForm.controls.location?.controls.address?.touched || mouseoverEvent)">
        <label class="control-label" for="address">Address: </label>
        <input (ngModel)="address" name="address" id="address" type="text" required/>
        <em *ngIf="eventForm.controls.location?.controls.address?.invalid && 
        (eventForm.controls.location?.controls.address?.touched || mouseoverEvent)">Required</em>      
      </div>
      <div class="form-group" [class.has-error]="eventForm.controls.location?.controls.city?.invalid &&
      (eventForm.controls.location?.controls.city?.touched  || mouseoverEvent)">
        <label class="control-label" for="city">City: </label>
        <input (ngModel)="city" name="city" id="city" type="text" required />
        <em *ngIf="eventForm.controls.location?.controls.city?.invalid &&
        (eventForm.controls.location?.controls.city?.touched  || mouseoverEvent)">Required</em>        
      </div>
      <div class="form-group" [class.has-error]="eventForm.controls.location?.controls.country?.invalid &&
      (eventForm.controls.location?.controls.country?.touched || mouseoverEvent)">
        <label class="control-label" for="country">Country: </label>
        <input (ngModel)="country" name="country" id="country" type="text" required pattern="[A-Z]{2}"          
        title="2 letter country code"/>
        <em *ngIf="eventForm.controls.location?.controls.country?.errors?.required &&
        (eventForm.controls.location?.controls.country?.touched || mouseoverEvent)">Required</em>
        <em *ngIf="eventForm.controls.location?.controls.country?.value &&
        eventForm.controls.location?.controls.country?.errors?.pattern &&
        (eventForm.controls.location?.controls.country?.touched || mouseoverEvent)">Must be a two-letter country code in upper case</em>
      </div>
    </div>
    <span (mouseenter)="mouseoverEvent=true" (mouseleave)="mouseoverEvent=false">
      <button type="submit" class="btn btn-primary" [disabled]="eventForm.invalid" >Save</button>
    </span>    
    <button type="button" class="btn btn-default" (click)="cancel()">Cancel</button>
  </form>
</div>